<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kolada Data Viewer</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Kolada Data Viewer</h1>
            <p>Detta är bara ett GUI för dataportal.se som gör det möjligt att snabbt och enkelt jämföra olika nyckeltal mellan regioner och kommuner. Beakta att data hämtas direkt från Kolada:s API och datan är tyvärr inte alltid komplett, men det är inget denna lilla sida kan göra något åt.</p>
            <div class="selection-container">
                <select id="kpiSelect" style="width: 100%;">
                    <!-- Options will be populated by Select2 -->
                </select>
                <select id="municipalitySelect" style="width: 100%;">
                    <!-- Options will be populated by Select2 -->
                </select>
                <button id="updateButton">Uppdatera graf</button>
            </div>

            <div id="kpiInfo">
                <h3 id="kpiName"></h3>
                <p id="kpiDescription"></p>
            </div>

            <div id="dataContainer">
                <div class="chart-container">
                    <canvas id="dataChart"></canvas>
                </div>
                <div id="tableContainer"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>